    <div class="row ">
        <div class="col-12 col-sm-2">
            <div class="col picture">
                <img src="https://onlinedm.files.wordpress.com/2010/12/dryad.png" />
            </div>

        </div>
        <div class="col-12 col-sm-10">
            <div class="row">
                <div class="col-7 col-sm-3">
                    <p><span>Name:</span> Ariadne</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Age:</span> 27</p>

                </div>
                <div class="col-7 col-sm-3">
                    <p><span>Height:</span> 5'1</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Race:</span> Nymph</p>
                </div>
                <div class="col-7 col-sm-3">
                    <p><span>Alignment:</span> Chaotic neutral</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Class:</span> Dryad</p>
                </div>
                <div class="col-7 col-sm-3">
                    <p><span>Occupation:</span> Herbalist</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Level:</span> <span>Seven</span></p>
                </div>
            </div>
        </div>
    </div>