    {{#if characters.length}}
<section class="container ">
    <ul>
        {{#each characters as |character|}}
        <li class="dashboard characterBox justify-content-center mb-2">
            <a href="/dashboard/characters/{{character.id}}"> {{> character character}}</a>
        </li>
        {{/each}}
    </ul>
</section>
    {{/if}}