<section class="container dashboard characterBox justify-content-center">
    {{#if characters.length}}
    <ul>
        {{#each characters as |character|}}
        <li>
            <a href="/dashboard/character/{{character.id}}"> {{> character character}}</a>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</section>