<section class="container dashboard">
				<div class="row d-flex justify-content-evenly">
					<div class="col-sm-4 search">
						<div>
							<label for="search-user">Search by User:</label>
							<input type="text" id="search-user" />
						</div>
					</div>
                    
                    <div class="col-sm-4 d-flex justify-content-center">
                        <p>Welcome to Forgotten Pages! Please make a character or browse.</p>
                    </div>
                    
					<div class="col-sm-4 d-flex justify-content-center">
						<div class="pictureBox signIn">
							<form class="login-form">
								<div>
									<label for="email-login">email:</label>
									<input type="text" id="email-login" />
								</div>
								<div>
									<label for="password-login">password:</label>
									<input type="password" id="password-login" />
								</div>
								<div>
									<button type="submit" class="btn b1">login</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-sm-4  d-flex justify-content-center">
						<div class="pictureBox signIn">
							<form class="signup-form">
								<div>
									<label for="username-signup">username:</label>
									<input type="text" id="username-signup" />
								</div>
								<div>
									<label for="email-signup">email:</label>
									<input type="text" id="email-signup" />
								</div>
								<div>
									<label for="password-signup">password:</label>
									<input type="password" id="password-signup" />
								</div>
								<div>
									<button type="submit" class="btn">Submit</button>
								</div>
							</form>
						</div>
					</div>
                    
                    <script src="./javascript/login.js"></script>
				</div>
			</section>