<section class="container dashboard characterBox justify-content-center">
				<div class="row ">
					
					<div class="col-12 col-sm-2">
						<div class="col picture">
						<img src="https://onlinedm.files.wordpress.com/2010/12/dryad.png" />
					</div>
					<!-- <div class="form">WEBADRESS</div> -->
					</div>
					<div class="col-12 col-sm-10">
						<div class="row">
							<div class="col-7 col-sm-3">
								<p><span>Name:</span> Evadne</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Age:</span> {{age}}</p>
									
							</div>
							<div class="col-7 col-sm-3">
								<p><span>Height:</span> 5'1</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Race:</span> Nymph</p>
							</div>
							<div class="col-7 col-sm-3">
								<p><span>Alignment:</span> Chaotic neutral</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Class:</span> Dryad</p>
							</div>
							<div class="col-7 col-sm-3">
								<p><span>Occupation:</span> Herbalist</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Level:</span>  Seven</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2">Link</div>
					<div class="col-5"><p><span>Eyes:</span>  </p></div>
					<div class="col-5"><p><span>Hair:</span>  </p></div>
				</div>
			</section>

			<section class="container characterBox mt-2 killBorder">
				<div class="row">
					<div class="col-sm-3 col-xs-4 borderBox">
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle">Str:<p>8</p> </div>
							<div class="col-sm-6 col-xs-6 circle">Dex: <p>10</p></div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle">Con: <p>9</p></div>
							<div class="col-sm-6 col-xs-6 circle">Int: <p>12</p></div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle">Wis: <p>11</p></div>
							<div class="col-sm-6 col-xs-6 circle">Char: <p>12</p></div>
						</div>
					</div>
					<div class=" col-sm-3 col-xs-6 borderBox">Relationships</div>
					<div class="col-sm-3 col-xs-6 borderBox">Background</div>
					<div class="col-sm-3 col-xs-6 ">
						<div class="row ">
							<div class="col-12 borderBox">Personality</div>
						</div>
						<div class="row ">
							<div class="col-12 borderBox">Ideals</div>
						</div>
						<div class="row">
							<div class="col-12 borderBox">Flaws</div>
						</div>
					</div>
				</div>

			</section>