* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Calligraffitti", cursive;
	font-weight: bold;
}

body {
	background: url("../images/DicehalfFade.jpg") no-repeat center center fixed;
	background-color: black;
	background-position: bottom;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}

header h1 {
	font-size: 3em;
	font-family: "Lavishly Yours", cursive;
	color: #763203;
	text-align: center;
	padding-bottom: 5px;
}

nav {
	background-image: linear-gradient(#946416, #781802);
	border-radius: 5px;
	color: black;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.25em;
	font-weight: bold;
}

nav ul li {
	margin: 5px;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: #dfc78b;
	text-decoration: underline;
}
.dashboard {
	color: #946416;
	font-size: 1.25em;
	width: 100%;
}

label {
	margin-top: 1px;
}

.search {
	margin-top: 40px;
	height: 286px;
	width: 224px;
}

/* Sign in and up */

.pictureBox {
	margin-top: 50px;
	height: 300px;
}

.login-form {
	max-width: 100%;
}

.pictureBox form label {
	display: block;
}

textarea,
input {
	background-color: transparent;
	padding: 0.5%;
	border-radius: 5px;
	border: 1px solid #946416;
}

textarea:focus,
input:focus {
	outline: none;
	border: 1px solid #781802;
}

textarea {
	max-width: 100%;
	min-height: 80%;
}

.signIn {
	background-image: url(../images/paperscrap.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 25px;
}

.btn {
	padding: 4px;
	font-size: 1.1em;
	border-radius: 5px;
	color: black;
	width: 160px;
	background-image: url(../images/button2.jpg);
	text-align: left;
	margin-top: 20px;
}

.b1 {
	margin-top: 70px;
}

/* dashboard */

.characterBox,
.holdingBox {
	width: 100%;
	border: 6px double #946416;
	background-color: #dfc78b;
	background-image: url(../images/paper.jpg);
	background-size: cover;
	background-position: 50%;
	font-weight: bold;
	color: black;
}

.characterBox a {
	text-decoration: none;
	color:black;

}
.characterBox a:hover {
	text-decoration: none;
	color:black;
	
}
ul {
	list-style-type: none;
}

p span {
	text-decoration: underline;
}
.picture {
	display: flex;
	padding-left: 1px;
	justify-content: center;
}

.picture img {
	height: 100px;
	width: 100px;
}


.borderBox {
	border: 4px double #946416;
	min-height: 120px;
}

.short {
	max-height:50px;
}

.circle {
	border-radius: 100%;
	border: 4px double #946416;
	width: 90px;
	height: 90px;
	text-align: center;
	margin: 2px;
	
	padding-top: 5px;
	font-size: 1.5em;
}
.killBorder {
	border: none;
	font-weight: bold;
}

.addChar {
	overflow: hidden;
	font-size: 0.95em;
}
.dashboard div div div input {
	width: 100%;
}
.skills div div input {
	max-width: 25px;
}
.wide input {
	width: 100%;
}
.skills div {
	margin: 2px auto;
}

/* 404 not found */

.hvr-icon-spin {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-spin .hvr-icon {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon,
.hvr-icon-spin:focus .hvr-icon,
.hvr-icon-spin:active .hvr-icon {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.dice {
	background-color: black;
	width: 100px;
	height: 55px;
	border-radius: 10px;
	padding-top: 5px;
	border: 4px double #763203;
	color: #763203
}


/* Sign out */

.btn-no-style {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-size: 100%;
	font-weight: bold;
	transition: color 0.1s;
	
  }
  
  .btn-no-style:hover {
	
	color: #dfc78b;
  }