html {
	background: url("../images/DicehalfFade.jpg") no-repeat center center fixed;
	background-color: black;
	background-position: bottom;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header h1 {
	font-size: 3em;
	font-family: "Lavishly Yours", cursive;
	color: #763203;
	text-align: center;
	padding-bottom: 5px;
}

nav {
	background-image: linear-gradient(#946416, #781802);
	border-radius: 5px;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.25em;
	font-family: "Calligraffitti", cursive;
	font-weight: bold;
}

nav ul li {
	margin: 5px;
}

.dashboard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #946416;
	font-size: 1.25em;
	font-family: "Calligraffitti", cursive;
}
/* Sign in and up */

.signbox {
	display: flex;
	margin-top: 60px;
	padding: 30px;
}

form label {
	display: block;
}

textarea,
input {
	background-color: none;
	padding: 0.5%;
	border-radius: 5px;
	border: 1px solid #ccc;
}

textarea:focus,
input:focus {
	outline: none;
	border: 1px solid #946416;
}

textarea {
	min-width: 40%;
	min-height: 100px;
}

.signIn {
	background-image: url(../images/paperscrap.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.signUp {
	background-image: url(../images/paperscrap.png);
	background-size: contain;
	background-repeat: no-repeat;
}
